<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-" "http:">
<mapper namespace="com.tuibi.dianwan.mapper.UtilGiftCodeMapper">
  <resultMap id="BaseResultMap" type="com.tuibi.dianwan.entity.UtilGiftCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code_id" jdbcType="INTEGER" property="codeId" />
    <result column="code_name" jdbcType="VARCHAR" property="codeName" />
    <result column="code_num" jdbcType="VARCHAR" property="codeNum" />
    <result column="reward_gold_num" jdbcType="INTEGER" property="rewardGoldNum" />
    <result column="reward_diamonds_num" jdbcType="INTEGER" property="rewardDiamondsNum" />
    <result column="lrsj" jdbcType="VARCHAR" property="lrsj" />
    <result column="lrzh" jdbcType="VARCHAR" property="lrzh" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="gxsj" jdbcType="VARCHAR" property="gxsj" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    code_id, code_name, code_num, reward_gold_num, reward_diamonds_num, lrsj, lrzh, zt, 
    bz, gxsj, channel_id
  </sql>
  <select id="selectByExample" parameterType="com.tuibi.dianwan.entity.UtilGiftCodeExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from util_gift_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tuibi.dianwan.entity.UtilGiftCodeExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from util_gift_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.tuibi.dianwan.entity.UtilGiftCodeExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from util_gift_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update util_gift_code
    <set>
      <if test="record.codeId != null">
        code_id = #{record.codeId,jdbcType=INTEGER},
      </if>
      <if test="record.codeName != null">
        code_name = #{record.codeName,jdbcType=VARCHAR},
      </if>
      <if test="record.codeNum != null">
        code_num = #{record.codeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.rewardGoldNum != null">
        reward_gold_num = #{record.rewardGoldNum,jdbcType=INTEGER},
      </if>
      <if test="record.rewardDiamondsNum != null">
        reward_diamonds_num = #{record.rewardDiamondsNum,jdbcType=INTEGER},
      </if>
      <if test="record.lrsj != null">
        lrsj = #{record.lrsj,jdbcType=VARCHAR},
      </if>
      <if test="record.lrzh != null">
        lrzh = #{record.lrzh,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=INTEGER},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.gxsj != null">
        gxsj = #{record.gxsj,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update util_gift_code
    set code_id = #{record.codeId,jdbcType=INTEGER},
      code_name = #{record.codeName,jdbcType=VARCHAR},
      code_num = #{record.codeNum,jdbcType=VARCHAR},
      reward_gold_num = #{record.rewardGoldNum,jdbcType=INTEGER},
      reward_diamonds_num = #{record.rewardDiamondsNum,jdbcType=INTEGER},
      lrsj = #{record.lrsj,jdbcType=VARCHAR},
      lrzh = #{record.lrzh,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=INTEGER},
      bz = #{record.bz,jdbcType=VARCHAR},
      gxsj = #{record.gxsj,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>