<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-" "http:">
<mapper namespace="com.tuibi.dianwan.mapper.UtilExperienceLevelMapper">
  <resultMap id="BaseResultMap" type="com.tuibi.dianwan.entity.UtilExperienceLevel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="experience_level_id" jdbcType="INTEGER" property="experienceLevelId" />
    <result column="experience_level_logo" jdbcType="VARCHAR" property="experienceLevelLogo" />
    <result column="experience_level_name" jdbcType="VARCHAR" property="experienceLevelName" />
    <result column="experience_level_num" jdbcType="VARCHAR" property="experienceLevelNum" />
    <result column="experience_level_experience" jdbcType="INTEGER" property="experienceLevelExperience" />
    <result column="experience_reward_type" jdbcType="INTEGER" property="experienceRewardType" />
    <result column="experience_reward_num" jdbcType="INTEGER" property="experienceRewardNum" />
    <result column="is_card" jdbcType="INTEGER" property="isCard" />
    <result column="voucher_id" jdbcType="INTEGER" property="voucherId" />
    <result column="lrsj" jdbcType="VARCHAR" property="lrsj" />
    <result column="lrzh" jdbcType="VARCHAR" property="lrzh" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="gxsj" jdbcType="VARCHAR" property="gxsj" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    experience_level_id, experience_level_logo, experience_level_name, experience_level_num, 
    experience_level_experience, experience_reward_type, experience_reward_num, is_card, 
    voucher_id, lrsj, lrzh, zt, bz, gxsj
  </sql>
  <select id="selectByExample" parameterType="com.tuibi.dianwan.entity.UtilExperienceLevelExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from util_experience_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tuibi.dianwan.entity.UtilExperienceLevelExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from util_experience_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.tuibi.dianwan.entity.UtilExperienceLevelExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from util_experience_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update util_experience_level
    <set>
      <if test="record.experienceLevelId != null">
        experience_level_id = #{record.experienceLevelId,jdbcType=INTEGER},
      </if>
      <if test="record.experienceLevelLogo != null">
        experience_level_logo = #{record.experienceLevelLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceLevelName != null">
        experience_level_name = #{record.experienceLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceLevelNum != null">
        experience_level_num = #{record.experienceLevelNum,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceLevelExperience != null">
        experience_level_experience = #{record.experienceLevelExperience,jdbcType=INTEGER},
      </if>
      <if test="record.experienceRewardType != null">
        experience_reward_type = #{record.experienceRewardType,jdbcType=INTEGER},
      </if>
      <if test="record.experienceRewardNum != null">
        experience_reward_num = #{record.experienceRewardNum,jdbcType=INTEGER},
      </if>
      <if test="record.isCard != null">
        is_card = #{record.isCard,jdbcType=INTEGER},
      </if>
      <if test="record.voucherId != null">
        voucher_id = #{record.voucherId,jdbcType=INTEGER},
      </if>
      <if test="record.lrsj != null">
        lrsj = #{record.lrsj,jdbcType=VARCHAR},
      </if>
      <if test="record.lrzh != null">
        lrzh = #{record.lrzh,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=INTEGER},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.gxsj != null">
        gxsj = #{record.gxsj,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update util_experience_level
    set experience_level_id = #{record.experienceLevelId,jdbcType=INTEGER},
      experience_level_logo = #{record.experienceLevelLogo,jdbcType=VARCHAR},
      experience_level_name = #{record.experienceLevelName,jdbcType=VARCHAR},
      experience_level_num = #{record.experienceLevelNum,jdbcType=VARCHAR},
      experience_level_experience = #{record.experienceLevelExperience,jdbcType=INTEGER},
      experience_reward_type = #{record.experienceRewardType,jdbcType=INTEGER},
      experience_reward_num = #{record.experienceRewardNum,jdbcType=INTEGER},
      is_card = #{record.isCard,jdbcType=INTEGER},
      voucher_id = #{record.voucherId,jdbcType=INTEGER},
      lrsj = #{record.lrsj,jdbcType=VARCHAR},
      lrzh = #{record.lrzh,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=INTEGER},
      bz = #{record.bz,jdbcType=VARCHAR},
      gxsj = #{record.gxsj,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>